input[type="checkbox"], input[type="radio"] {
	appearance: inherit;
}

input[type="select"] {
	padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.w-input {
    border: var(--border-width) solid black;
    border-radius: var(--border-radius);
    background-color: var(--transparent);
    margin-bottom: 0;
}

.inputfield:hover, .w-commerce-commercecheckoutadditionaltextarea:focus, .w-commerce-commercecheckoutadditionaltextinput:focus, .w-input:active, .w-input:focus, .w-input:focus-within, .w-input:target, .w-select:active, .w-select:focus, .w-select:focus-within, .w-select:target  {
    border: var(--border-width) solid black;
    border-radius: var(--border-radius);
    background-color: var(--transparent);
    margin-bottom: 0;
    box-shadow: 0 0 0 1px var(--black);
}

#valueTotalRadio, #valueUnitRadio {
    border: 1px solid black;
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
}

#valueTotalRadio:checked, #valueUnitRadio:checked {
    background-color: #3772ff;
}

.w-input, .w-input:focus, .w-input:focus-within {
    background-color: var(--white);
}

#shippingCurrency, #insuranceCurrency, #Currency, #valueQuantityInput  {
    padding-left: 4px;
    padding-right: 4px;
}

.loading-svg {
  animation: spin 1s linear infinite;
}

.icon-refreshing-svg.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column-left-inner-div {
	overflow-y: scroll!important;
  overflow-x: hidden;
}

.details-parent-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--div-gap);
  padding: var(--div-padding);
border-width: var(--border-width);
  border-color: var(--black);
  border-radius: var(--border-radius);

}

.details-selected-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--div-gap);
  padding: var(--div-padding);
border-width: var(--border-width);
  border-color: var(--crayola-blue);
  border-radius: var(--border-radius);
  background-color: var(--light-blue-bg);
}

.details-parent-name-text {
  font-size: var(--font-medium);
  line-height: var(--font-large);
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  color: var(--navy);
  text-wrap: nowrap;
}

.details-parent-description-text {
  font-size: var(--font-medium);
  line-height: var(--font-large);
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  color: var(--navy);
}

.details-select-name-text {
  font-size: var(--font-medium);
  line-height: var(--font-large);
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  color: var(--navy);
  text-wrap: nowrap;
}

.details-select-description-text {
  font-size: var(--font-medium);
  line-height: var(--font-large);
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  color: var(--navy);
}

.product-tag-pill {
  line-height: 1rem;
  display: flex;
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  font-size: 0.7rem;
  border-width: var(--border-width);
  border: var(--crayola-blue);
  border-radius: 1rem;
  background-color: var(--light-blue-bg);
  color: var(--navy);
}

.ms-toggle-checkbox:checked ~.ms-toggle-bg {
background-color: #3772ff;
}
.ms-toggle-checkbox:checked ~.ms-toggle-dot {
left: 21px;
}

textarea {
  resize: vertical;
  overflow: auto;
}
